<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <h1>
        <i class="fas fa-microchip logo"></i> Caeli</h1>
    </a>
  </div>
  <div class="navbar-end">
    <a class="navbar-item">
      <span>About <i class="fas fa-align-left"></i></span>
    </a>
    <a class="navbar-item">
      <span>Contribute <i class="fab fa-github-alt"></i></span>
      <!-- external link to route https://github.com/JoaoVitorCapelari/caeli -->
    </a>
  </div>
</nav>
